---
lang: zh-TW
layout: base-zh-TW
id: development
title: 開發 - Bitcoin
---
<h1>Bitcoin 開發</h1>

<h2>規格</h2>
<p>若是你有興趣學習 Bitcoin 的更多技術細節，建議你從以下文件開始。</p>
<ul>
  <li><a href="/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a></li>
  <li><a href="https://en.bitcoin.it/wiki/Protocol_rules">Protocol rules</a></li>
  <li><a href="https://en.bitcoin.it/wiki/Category:Technical">Bitcoin Wiki</a></li>
</ul>

<h2>核心開發者</h2>
<ul>
  <li>Satoshi Nakamoto - (<a href="/satoshinakamoto.asc">PGP</a>)</li>
  <li>Gavin Andresen - <a href="mailto:gavinandresen@gmail.com">gavinandresen@gmail.com</a> (<a href="/gavinandresen.asc">PGP</a>)</li>
  <li>Pieter Wuille - <a href="mailto:pieter.wuille@gmail.com">pieter.wuille@gmail.com</a> (<a href="/pieterwuille.asc">PGP</a>)</li>
  <li>Nils Schneider - <a href="mailto:nils.schneider@gmail.com">nils.schneider@gmail.com</a> (<a href="/schneider.asc">PGP</a>)</li>
  <li>Jeff Garzik - <a href="mailto:jgarzik@exmulti.com">jgarzik@exmulti.com</a> (<a href="/jgarzik-exmulti.asc">PGP</a>)</li>
  <li>Wladimir J. van der Laan - <a href="mailto:laanwj@gmail.com">laanwj@gmail.com</a> (<a href="/laanwj.asc">PGP</a>)</li>
  <li>Gregory Maxwell - <a href="mailto:gmaxwell@gmail.com">gmaxwell@gmail.com</a> (<a href="/gmaxwell.asc">PGP</a>)</li>
</ul>

<h2>參與開發</h2>
<p>Bitcoin 是開源的，故任何開發者都能貢獻此專案。你所需要的一切都在<a href="https://github.com/bitcoin/bitcoin">Github repository</a>上。請確實閱讀並遵守 README 裡的開發流程，提供高品質的程式碼，以及尊重所有的指引。</p>
<p>開發的討論位於 github 以及 sourceforge 的 <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=bitcoin-development">bitcoin-development</a> 郵件群組。較不正式的開發討論在 irc.freenode.net #bitcoin-dev (&rarr;<a href="" onclick="document.getElementById('chatbox').innerHTML='<iframe style=width:98%;min-width:400px;height:600px src=\'http://webchat.freenode.net/?channels=bitcoin-dev\' />';return false;">web interface</a>; <a href="http://bitcoinstats.com/irc/bitcoin-dev/logs/">logs</a>)。</p>
<div id="chatbox" style="text-align:center;"></div>

<section id="contributors">
  <h2>Bitcoin-Qt 貢獻者</h2>
  <p>(依提交次數排序)</p>
  <div class="contributors">{% for c in site.project.contributors %}
    <span>
      {% if c.gravatar_id %}<img class="icon" height="16" width="16" src="https://secure.gravatar.com/avatar/{{c.gravatar_id}}?s=140&amp;d=http%3A%2F%2Fbitcoin.org%2Fimg%2Fgravatar-140.png" alt="icon" />{% else %}<img class="icon" height="16" width="16" src="http://bitcoin.org/img/gravatar-140.png" alt="icon" />{% endif %}
      {% if c.login %}<a href="http://github.com/{{c.login}}">{{ c.name }} ({{ c.contributions }})</a>{% else %}{{ c.name }} ({{ c.contributions }}){% endif %}
    </span>{% endfor %}
  </div>
</section>
